.address{
    display: block;
    text-decoration: none;
    padding: 2px 10px;
    border-bottom : 2px solid #C8C8C8;
    cursor: pointer;
    color:black;
    /* background-color: white; */
}

.address:hover,.focus{
    background-color: #CEE7F2;
    /* background-color: #3E5E77; */
}
.address > p{
    margin: 0px;
}
.address-email{
    font-size: 11px;
    padding:3px  3px;
}
.address-name{
    text-transform: capitalize;
    font-size: 23px;
    margin: 0px;
    font-weight: 350;
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Segoe UI',sans-serif;
}
.address-contact{
    font-size: 11px;
    padding-left: 3px;
}


