<header class="page-header">
    <div class="page-header-title">{{title | titlecase }}</div>
    <nav class="page-navbar">
        <ul class="page-navbar-list">
            <li class="page-navbar-list-item"><a routerLink ="home" >home</a></li>
            <li class="page-navbar-list-item"><a routerLink="home/add" >+add</a></li>
            <li class="page-navbar-list-icon"><img src="assets/Images/blog-icon.png" class="icon" alt="supposed to be omg/icon here"></li>
        </ul>
    </nav>
</header>