<div class="addresses-table">
    <h4 class="section-heading">Contacts</h4>
    @if (addresses.length) {
        <ul class="address-container">
            @for (address of addresses; track $index; let last = $last) {
                <li [class.last-child]="last">
                    <app-address-row [data]="address" ></app-address-row>  
                </li>
            }
        </ul>
    } @else {
        <div class="error-display">
            <h4>No Contacts to display, Add contacts to view here:)</h4>
            <a routerLink="add">Add Contacts</a>
        </div>
    }
</div>