<form [formGroup]="reactiveForm" class="page-form" name="addressForm" (ngSubmit)="onSubmit()">
    <div class="form-element">
        <label for="name">Name</label>
        <span class="required-message" *ngIf="reactiveForm.get('name')!.invalid&&(reactiveForm.get('name')!.touched || isFormSubmitted)"> is Required</span>
        <input type="text"  formControlName="name" name="Name" id="name" >
    </div>
    <div class="form-element">
        <label for="email">Email</label>
        <span class="required-message" *ngIf="reactiveForm.get('email')!.invalid&&(reactiveForm.get('email')!.touched  || isFormSubmitted)"> is Required</span>
        <input type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="form-elements" >
        <div class="form-element">
            <label for="number">Mobile</label>
            <span class="required-message" *ngIf="reactiveForm.get('mobile')!.invalid&&(reactiveForm.get('mobile')!.touched || isFormSubmitted)"> is Required</span>
            <input type="tel" name="mobile" id="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  formControlName="mobile">
        </div>
        <div class="form-element">
            <label for="landline">Landline</label>
            <span class="required-message" *ngIf="reactiveForm.get('landline')!.invalid&&(reactiveForm.get('landline')!.touched  || isFormSubmitted)"> is Required</span>

            <input type="tel" name="landline" id="landline" onkeypress='return event.charCode >= 48 && event.charCode <= 57' formControlName="landline">
        </div>
    </div>
    <div class="form-element">
        <label for="website">Website</label>
        <span class="required-message" *ngIf="reactiveForm.get('website')!.invalid&&(reactiveForm.get('website')!.touched || isFormSubmitted)"> is Required</span>

        <input type="url" name="website" id="website" formControlName="website">
    </div>

    <div class="form-element">
        <label for="address">Address</label>
        <span class="required-message" *ngIf="reactiveForm.get('address')!.invalid&&(reactiveForm.get('address')!.touched || isFormSubmitted)"> is Required</span>
        <textarea name="address" id="" cols="54" rows="10"  formControlName="address"></textarea>
    </div>
    <button class="form-button">{{buttonText | titlecase}}</button>
</form>